@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');


body {
  font-family: 'Sen', sans-serif;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #FCFBFA;
  color: #404040;
  overflow-y: auto;
}

.navbar {
  padding: 30px;
  font-size: 23px;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}

.navbar li {
  padding-right: 28px;
  list-style: none;
  display: inline-flex;
}

.navbar li:hover {
  cursor: pointer;
  color: #e3bd12;
  font-weight: bold;
}

.header {
  display: flex;
  display: inline-flex;
  font-size: 30px;
  font-family: "Courier New", Courier,
  "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-weight: lighter;
  color: #e3bd12;
}

#i-am{
  margin-right: 2.3vw;
}

.profile {
  font-size:22px;
}

.project-card {
  text-align: center;
    background-color: white;
    border: 0px;
    border-radius: 8px;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    -webkit-box-shadow: 10px 10px 12px -13px rgba(18,227,189,0.51);
-moz-box-shadow: 10px 10px 12px -13px rgba(18,227,189,0.51);
box-shadow: 10px 10px 12px -13px rgba(18,227,189,0.51);
  }

  .project-image {
    object-fit: contain;
    height: 45vh;
    width: 20vw;
    padding: 15px 45px 15px 15px;
  }

  .project-content {
    padding-top: 7.5vh;
  }

  .project-skills {
    text-align: center;
    margin-top: 40px;
  }

  .project-links {
    margin-top: 40px;
    text-align: center;
  }

  .project-skills span {
    font-size: 1rem;
    padding: 5px;
    border: 2px solid #12e3bd;
    border-radius: 3px;
  }

  .contact-links {
    font-size: 1.2em;
    text-align: center;
    margin-top: 150px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
  }

  a {
    text-decoration: none;
    text-align: center;
    color: #404040;
    margin: 20px;
    border-bottom: 1px solid #e3bd12;
  }

  a:hover {
    cursor: pointer;
    color: #e3bd12;
    font-weight: bold;
  }

  span {
    text-align: center;
    margin: 20px;
    }

    @media screen and (max-width: 1255px) {
      span {
        text-align: center;
        margin: 5px;
        }
    }

    @media screen and (max-width: 1024px) {
      .project-skills {
        display: flex;
        flex-direction: column;
      }

      .project-links {
        font-size: 15px;
      }
        
    }
    @media screen and (max-width: 812px) {
      .project-card {
        display: flex;
        flex-direction: row;
        padding-top: 0px;
        margin-top: 0px;
      }

      .project-image {
        padding: 0px;
        object-fit: contain;
        height: 30vh;
        width: 70%;
        position: absolute;
      }

      .project-content {
        margin-top: 160px;
        flex-direction: row;
        width: 100%;
        font-size: 12px;
      }

      .project-skills {
        margin: 0;
      }

      .project-skills span {
        padding: 2px;
        font-size: 12px;
      }

      .project-links {
        margin: 8px;
      }

      .project-links a {
        padding: 2px;
        margin: 5px;
        font-size: 12px;
      }

      }

      @media screen and (max-width: 600px) {
        .contact-links {
          font-size: 13px;
        }

        .project-links a {
          font-size: 10px;
          margin: 3px;
        }
          
      }